

body {
    font-family: Helvetica, Arial, sans-serif;
    color:white;
    background: linear-gradient(75deg, #4fb4b3, #7a4ac5);
    background-color:#7a4ac5;
    padding-top: 0px;
    height: 100%;
    width: 100%;
    
   
    
    
}
header{
    height: 100%;
    width: 100%;
    
    background: linear-gradient(75deg, #4fb4b3, #7a4ac5);
    background-color: #4fb4b3;
    background-position: center;
    font-size: 1em;
    border-radius: 8px;
    padding: 1px;
    text-align:center;
    
}
header p{
    height: 100%;
    width: 100%;
    background-color:#816fc4;
    background: radial-gradient(75deg, #4ad1d1, #7a4ac5);
    text-align: center;
    border-radius: 2px;
    

}
section{
    position:relative;
    background-color: rgb(8, 180, 180);
    background: linear-gradient(75deg, #4ad1d1, #7a4ac5);
    height: 100%;
    width: 100%;
    margin-top: auto;
    
}
.about_me{
    
    position: absolute;
    right: 0;
    margin-right: 9%;
    width: 36%;
    height: max-content;
}

.about_me img{
    
    width:27%;
    height:27%;
    float:right;
    margin-right: 15%;
    
    
}
.about_me P {
    
   
    text-align: justify;
    margin-top: 2em;
    margin-right: 8%;
    margin-left: 10%;
    font-size: 0,3em;

    

}
.about_me h2{
    
    margin-top: 20%;
    margin-left: 10%;
    font-size:1em;
    

}


.content{
    width: 45%;
    height: max-content;
    position:absolute;
    left:0;
    margin-left: 8%;
    border-radius: 6px;
    

}
.content dl{
    text-align: left;
    font-size: 1,5em;
    margin-left:1em;
    letter-spacing: 0,5em;
    
    
}


